@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #F3F5F9;
  --border-color: #DEE1E7;
  --text-color: #4D5568;
  --alt-text-color: #7682A0;
}

[data-theme="dark"] {
  --primary-color: #1E213A;
  --secondary-color: #252945;
  --border-color: #3A416F;
  --text-color: #E7E7EB;
  --alt-text-color: #A09FB1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--text-color) !important;
}


.alt-text-color {
  color: var(--alt-text-color) !important;
}

.boxful-bg-primary {
  background: var(--primary-color);
}

.bottom-border-color {
  border-bottom: 1px solid var(--border-color);
}